body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  background-color: #ffffff;
  background-image: url(../img/kleed.png);
}

.spacer {
  height: 75px;
}

.spacer-bottom {
  height: 75px;
  clear: both;
  float: left;
  width: 100%;
}

.header {
  margin-left: 10rem;
  background-image: url('../img/titel-vlak.png');
  background-repeat: no-repeat;
  width: 596px;
  height:153px;
  padding: 15px 25px 25px 65px;
  position: absolute;
  top: 55px;
  z-index: -1;
}

.welcome {
  display: block;
  float: right;
  padding: 10px 20px 10px;
  margin-left: -20px;
  color: #e7e7e7;
}

.dagboek-top {
  background-image: url('../img/dagboek-top.png');
  margin-left: 5rem;
  height: 143px;
  width: 946px;
  clear: both;
}

.dagboek-bottom {
  background-image: url('../img/dagboek-bottom.png');
  background-repeat: no-repeat;
  margin-left: 5rem;
  height: 143px;
  width: 946px;
  clear: both;
  text-align: center;
  padding-top: 3rem;
}

.dagboek {
  background-image: url('../img/dagboek-bg.png');
  font-family: 'Indie Flower', cursive;
  font-size: 1.3rem;
  line-height: 1.7rem;
  width: 946px;
  clear: both;
  margin-left: 5rem;
}

.container {
  width: 100%;
  margin-left: 125px;
}

.dagboek .container,
.dagboek-bottom .container {
  font-family: 'Indie Flower', cursive;
}

.header h1,
.container h2,
.container .date {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 1rem;
}

.container h2 {
  clear: both;
}

.container .date {
  float: right;
}

.container .post {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 2rem;
}

.container .post .span6 {
  position: relative;
}

.navbar .brand {
  background-image: url('../img/online-dagboek-logo.png');
  background-repeat: no-repeat;
  text-indent: -99999px;
  width: 184px;
}

.edit-buttons {
  clear: both;
  float: right;
  position: absolute;
  top: -65px;
  right: 0px;
}

.edit-buttons li {
  list-style:none;
  float: left;
  margin-right: 5px;
}

.edit-buttons li a {
  display: block;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  text-indent:-9999px;
}

.edit-buttons li.add-picture a {
  background-image: url('../img/icoon-pic.png');
}

.edit-buttons li.edit-post a {
  background-image: url('../img/icoon-abc.png');
}

.edit-buttons li.delete-post a {
  background-image: url('../img/icoon-trash.png');
}

#body-editor {
  margin: 1rem 0;
  padding: 10px;
  width: 440px;
  border: 1px solid #ccc;
  min-height: 320px;
}

.delete-image {
  background-image: url('../img/icoon-trash.png');
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  position: relative;
  top: -265px;
  right: -200px;
  text-indent: -9999px;
  z-index: 5;
}

/* polaroids */
ul.polaroids img {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.polaroids .paperclip {
  display: block;
  background-image: url('../img/paperclip.png');
  background-repeat: no-repeat;
  height: 44px;
  width: 141px;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 153px;
}

ul.polaroids a.image-link:after {
  content: attr(title);
}

ul.polaroids a.image-link {
  display: block;
  background-color: #fff;
  width: 240px;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  color: #000;
}

ul.polaroids a.image-link:hover {
  text-decoration: none;
}

ul.polaroids li {
  display: inline;
  position: relative;
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a.image-link {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
}

ul.polaroids li:nth-child(even) .paperclip {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(odd) a.image-link {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
}

ul.polaroids li:nth-child(odd) .paperclip {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
}

/* On hover, darken the shadows a bit */
ul.polaroids a.image-link {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}
