<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Online Dagboek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Met Online Dagboek kun je je eigen dagboek bijhouden, simpel en afgesloten voor de buitenwereld." />
    <meta name="author" content="Jelle de Jong, jelle@hoest.nl" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Indie+Flower|Nunito|Permanent+Marker" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon-128.png') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" /><![endif]-->
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon-128.png') }}" />
  </head>
  <body>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38245973-1']);
      _gaq.push(['_setDomainName', 'online-dagboek.nl']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url_for('diary_index') }}">Online Dagboek</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if g.user %}
                <li class="dropdown">
                  <a href="#" id="dropdown1" class="dropdown-toggle" data-toggle="dropdown">
                    Dagboeken
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown1">
                    {% for diary in g.diaries %}
                      <li>
                        <a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a>
                      </li>
                    {% endfor %}
                    <li>
                      <a href="{{ url_for('diary_create') }}">Dagboek toevoegen...</a>
                    </li>
                  </ul>
                </li>
                {% if diary %}
                  <li class="dropdown">
                    <a href="#" id="dropdown2" class="dropdown-toggle" data-toggle="dropdown">
                      {{ diary.title }}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown2">
                      <li>
                        <a href="{{ url_for('diary_edit', diary_slug=diary.slug) }}">Dagboek bewerken</a>
                      </li>
                      <li>
                        <a href="{{ url_for('diary_delete', diary_id=diary.id) }}">Dagboek verwijderen</a>
                      </li>
                      <li>
                        <a href="{{ url_for('post_create', diary_slug=diary.slug) }}">Bericht toevoegen</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Uitloggen</a></li>
              {% else %}
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="{{ url_for('page', path='about') }}">Meer informatie</a>
                </li>
              {% endif %}
            </ul>
          </div>

          {% if g.user %}
            <span class="welcome">Welkom {{ g.user.firstname }} (<a title="Uitloggen" href="{{ url_for('logout') }}">Iemand anders?</a>)</span>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="header">
      <h1>{% block header %}{% endblock %}</h1>
    </div>

    <div class="dagboek-top"></div>
    <div class="dagboek">
      <div class="container">
        <div id="content" class="row">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="span8">
                <div class="alert alert-block alert-info">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div id="footer" class="dagboek-bottom">
      <div class="container">
        <div id="content" class="row">
          <div span class="span8">
            <p>&#169; 2013 - <a href="/">Online Dagboek</a>
            -
            <a href="{{ url_for('page', path='about') }}">Meer informatie</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/diary.js') }}"></script>
  </body>
</html>
