<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %} - Online Dagboek</title>

    <meta name="description" content="Met Online Dagboek kun je je eigen dagboek bijhouden, simpel en afgesloten voor de buitenwereld." />
    <meta name="author" content="Jelle de Jong, jelle@hoest.nl" />

    <!-- Favicon -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon-128.png') }}" />

    <!-- Styling -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Indie+Flower|Nunito|Permanent+Marker" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon-128.png') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" /><![endif]-->

    <!-- Modernizr -->
    <script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>

    <!-- JS-Cookie -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
      window.cookieconsent_options = {
        "message":"Deze website gebruikt cookies om volledig tot z'n recht te komen.",
        "dismiss":"OK",
        "learnMore":"Meer informatie",
        "link":null,
        "theme":"dark-bottom"
      };
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

    <script>window.cookieconsent_dismissed = Cookies.get('cookieconsent_dismissed') == 'yes';</script>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38245973-1']);
      _gaq.push(['_setDomainName', 'online-dagboek.nl']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url_for('diary_index') }}">Online Dagboek</a>
          <div class="nav-collapse collapse">
            <ul class="nav" role="menubar">
              {% if g.user %}
                <li class="dropdown" role="menuitem">
                  <a href="#" id="dropdown1" class="dropdown-toggle" data-toggle="dropdown">
                    Dagboeken
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown1">
                    {% for diary in g.diaries %}
                      <li role="menuitem">
                        <a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a>
                      </li>
                    {% endfor %}
                    <li role="menuitem">
                      <a href="{{ url_for('diary_create') }}">Dagboek toevoegen...</a>
                    </li>
                    {% if g.user.role == 1 %}
                    <li role="menuitem">
                      <a href="{{ url_for('management') }}">Beheer</a>
                    </li>
                    {% endif %}
                  </ul>
                </li>
                {% if diary %}
                  <li class="dropdown" role="menuitem">
                    <a href="#" id="dropdown2" class="dropdown-toggle" data-toggle="dropdown">
                      {{ diary.title }}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown2">
                      <li role="menuitem">
                        <a href="{{ url_for('diary_edit', diary_slug=diary.slug) }}">Dagboek bewerken</a>
                      </li>
                      <li role="menuitem">
                        <a href="{{ url_for('diary_delete', diary_id=diary.id) }}">Dagboek verwijderen</a>
                      </li>
                      <li role="menuitem">
                        <a href="{{ url_for('post_create', diary_slug=diary.slug) }}">Bericht toevoegen</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                <li role="menuitem">
                  <a href="{{ url_for('logout') }}">Uitloggen</a>
                </li>
              {% else %}
                <li role="menuitem">
                  <a href="/">Home</a>
                </li>
              {% endif %}
              <li class="dropdown" role="menuitem">
                <a href="#" id="dropdown3" class="dropdown-toggle" data-toggle="dropdown">
                  Over
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown3">
                  <li role="menuitem">
                    <a href="{{ url_for('page', path='news') }}">Nieuws</a>
                  </li>
                  <li role="menuitem">
                    <a href="{{ url_for('page', path='about') }}">Meer informatie</a>
                  </li>
                  <li role="menuitem">
                    <a href="{{ url_for('page', path='terms-conditions') }}">Algemene voorwaarden</a>
                  </li>
                  {% if g.user %}
                  <li role="menuitem">
                    <a href="mailto:jelle@hoest.nl">Vragen?</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>

          {% if g.user %}
            <span class="welcome">Welkom{{ " " }}{{ g.user.firstname }}{{ " " }}(<a title="Uitloggen" href="{{ url_for('logout') }}">Iemand anders?</a>)</span>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="dagboek-ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Online Dagboek Header -->
      <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2308542917989831" data-ad-slot="1292776902"></ins>
      <script>
        if(window.cookieconsent_dismissed) {
          (adsbygoogle = window.adsbygoogle || []).push({});
        }
      </script>
    </div>

    <div class="outer-wrapper">
      <div class="spacer"></div>

      <div class="header">
        <h1>{% block header %}{% endblock %}</h1>
      </div>

      <div class="dagboek-top"></div>
      <div class="dagboek">
        <div class="container">
          <div id="content" class="row">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="span8">
                  <div class="alert alert-block alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div id="footer" class="dagboek-bottom">
        <div class="container">
          <div class="row">
            <div class="span8">
              <p>
                &#169; 2013 - <a href="/">Online Dagboek</a>
                -
                <a href="{{ url_for('page', path='about') }}">Meer informatie</a>
                -
                <a href="{{ url_for('page', path='terms-conditions') }}">Algemene voorwaarden</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dagboek-ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Online Daboek Footer -->
      <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2308542917989831" data-ad-slot="8816043701"></ins>
      <script>
        if(window.cookieconsent_dismissed) {
          (adsbygoogle = window.adsbygoogle || []).push({});
        }
      </script>
    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
