{% extends "base.html" %}

{% block title %}Dagboeken{% endblock %}

{% block header %}Dagboeken{% endblock %}

{% block breadcrumbs %}
  <li class="active">Dagboeken</li>
{% endblock %}

{% block content %}
  <ul>
    <li>
      <a href="{{ url_for('diary_create') }}">Dagboek toevoegen...</a>
    </li>
  </ul>
  {% if diaries %}
    <ul>
    {% for diary in diaries %}
      <li>
        <a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}