{% extends "base.html" %}
{% from "helpers.html" import render_field, render_submit %}

{% block title %}Dagboek bewerken{% endblock %}

{% block header %}Dagboek bewerken{% endblock %}

{% block breadcrumbs %}
  <li><a href="/">Dagboeken</a> <span class="divider">/</span></li>
  <li class="active">Formulier</li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action=".">
    {{ form.csrf_token }}
    {{ render_field(form.title) }}
    {{ render_submit("Opslaan") }}
  </form>
{% endblock %}
