<!DOCTYPE html>
<html>
<head>
  <title>Online Dagboek</title>
</head>
<body>
  <h1>Online Dagboek</h1>
  <p>Welkom bij <a href="http://www.online-dagboek.nl/">Online Dagboek</a>.
  Momenteel is de site offline, vanwege zwaar onderhoud. Alle data blijft
  behouden, alleen wanneer de site weer online komt, is momenteel niet
  bekend.</p>
  {% if user %}
  ingelogd: {{user}}
  {% else %}
    <a href="{{ url_for('login_facebook') }}?next={{ '%s' % request.args.get('next') if request.args.get('next') }}">
      <img src="{{ url_for('static', filename='img/login-facebook.jpg') }}" alt="Aanmelden met Facebook" />
    </a>
  {% endif %}
</body>
</html>
