{% extends "base.html" %}
{% from "helpers.html" import render_field, render_submit %}

{% block title %}Inloggen{% endblock %}

{% block header %}Inloggen{% endblock %}

{% block breadcrumbs %}
  <li class="active">Inloggen</li>
{% endblock %}

{% block content %}
  <div class="span8">
    <p>Welkom bij <a href="/">Online Dagboek</a>, hier kun je je eigen dagboek
    bijhouden, alleen voor jezelf en niet voor de rest van de wereld!</p>
    <p>&#160;</p>
    <form class="form-horizontal" method="POST" action=".">
      {{ form.csrf_token }}
      {{ form.next }}

      {{ render_field(form.emailaddress) }}
      {{ render_field(form.password) }}
      {{ render_field(form.remember_me) }}

      {{ render_submit("Inloggen") }}
    </form>
    <div class="facebook_btn">
      <a href="{{ url_for('login_facebook') }}">
        <img src="{{ url_for('static', filename='img/login-facebook.jpg') }}" />
      </a>
    </div>
    <p>U kunt ook inloggen met behulp van uw <a href="{{ url_for('login_facebook') }}">Facebook account</a>.</p>
    <p>Wilt u meer weten over deze website, bekijk onze
      <a href="{{ url_for('page', path='about') }}">informatie pagina</a>.</p>
  </div>
{% endblock %}
