{% extends "base.html" %}

{% block title %}Inloggen{% endblock %}

{% block header %}Inloggen{% endblock %}

{% block breadcrumbs %}
  <li class="active">Inloggen</li>
{% endblock %}

{% block content %}
  <div class="span8">
    <p>Welkom bij <a href="/">Online Dagboek</a>, hier kun je je eigen dagboek
    bijhouden, alleen voor jezelf en niet voor de rest van de wereld!</p>
    <p>&#160;</p>
    <form class="form-horizontal" method="POST" action=".">
      {{ form.csrf_token }}
      {{ form.next }}
      <div class="control-group">
        {{ form.emailaddress.label(class="control-label") }}
        <div class="controls">
          {{ form.emailaddress(class="input-xlarge span6", placeholder=form.emailaddress.label.text) }}
        </div>
      </div>
      <div class="control-group">
        {{ form.password.label(class="control-label") }}
        <div class="controls">
          {{ form.password(class="input-xlarge span6", placeholder=form.password.label.text) }}
        </div>
      </div>
      <div class="control-group">
        {{ form.remember_me.label(class="control-label") }}
        <div class="controls">
          {{ form.remember_me(class="input-xlarge") }}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn" value="Inloggen" />
        </div>
      </div>
    </form>
    <p>Wilt u meer weten over deze website, bekijk onze
      <a href="{{ url_for('page', path='about') }}">informatie pagina</a>.</p>
  </div>
{% endblock %}
