{% extends "base.html" %}

{% block title %}Beheer{% endblock %}

{% block header %}Beheer{% endblock %}

{% block content %}
  <div class="span8">
    <h2>Dagboeken overzicht</h2>
    <p>Totaal zijn er {{ diaries|count }} dagboeken.</p>
    <table class="management-table">
      <tr>
        <th>Titel</th>
        <th>Aantal</th>
        <th>Eigenaar</th>
      </tr>
      {% for diary in diaries %}
        <tr>
          <td>{{ diary.title }}</td>
          <td>{{ diary.posts.count() }}</td>
          <td>
            <ul>
              {% for user in diary.users %}
                <li><a href="mailto:{{ user.emailaddress }}">{{ user.lastname }}, {{ user.firstname }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
    <h2>Gebruikers overzicht</h2>
    <p>Totaal zijn er {{ users|count }} gebruikers.</p>
    <table class="management-table">
      <tr>
        <th>Naam</th>
        <th>Aantal</th>
        <th>Laatste bericht</th>
      </tr>
      {% for user in users %}
        <tr>
          <td><a href="mailto:{{ user.emailaddress }}">{{ user.lastname }}, {{ user.firstname }}</a></td>
          <td>{{ user.posts.count() }}</td>
          <td>
            {% if user.last_post() %}
              {{ user.last_post().created.strftime('%e %B %Y om %H:%m') }}
            {% else %}
              Geen
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
