{% extends "base.html" %}
{% from "helpers.html" import render_field, render_submit %}

{% block title %}Afbeelding toevoegen{% endblock %}

{% block header %}Afbeelding toevoegen{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a> <span class="divider">/</span></li>
  <li><a href="{{ url_for('post_view', diary_slug=diary.slug, post_slug=post.slug) }}">{{ post.title }}</a> <span class="divider">/</span></li>
  <li class="active">Afbeelding toevoegen</li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" enctype="multipart/form-data" action=".">
    {{ form.csrf_token }}

    {{ render_field(form.title) }}
    {{ render_field(form.file) }}

    {{ render_submit("Opslaan") }}
  </form>
{% endblock %}
