{% extends "base.html" %}

{% block title %}Bericht bewerken - {{ diary.title }}{% endblock %}

{% block header %}Bericht bewerken{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a> <span class="divider">/</span></li>
  <li class="active">Bewerken</li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action=".">
    {{ form.csrf_token }}
    <div class="control-group">
      {{ form.title.label(class="control-label") }}
      <div class="controls">
        {{ form.title(class="input-xlarge", placeholder=form.title.label.text) }}
      </div>
    </div>
    <div class="control-group">
      {{ form.body.label(class="control-label") }}
      <div class="controls">
        {{ form.body(rows=10, class="input-xlarge", placeholder=form.body.label.text) }}
      </div>
    </div>
    <div class="control-group">
      {{ form.date.label(class="control-label") }}
      <div class="controls">
        {{ form.date(class="input-xlarge", default=datetime.now, placeholder=form.date.label.text) }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn" value="Opslaan" />
      </div>
    </div>
  </form>
{% endblock %}