{% extends "base.html" %}

{% block title %}Berichten - {{ diary.title }}{% endblock %}

{% block header %}{{ diary.title }}{% endblock %}

{% block breadcrumbs %}
  <li class="active">{{ diary.title }}</li>
{% endblock %}

{% block content %}
  <p>
    <a href="{{ url_for('post_create', diary_id=diary.id, diary_slug=diary.slug) }}">Bericht toevoegen...</a>
  </p>
  {% for post in posts %}
    <h2>
      <a href="{{ url_for('post_view', diary_id=diary.id, diary_slug=diary.slug, post_id=post.id, post_slug=post.slug) }}">{{ post.title }}</a>
    </h2>
    <div class="date">{{ post.date.strftime('%e %B %Y') }}</div>
    <div class="text">{{ (post.body[:256] + " ...")|markdown }}</div>
  {% endfor %}
{% endblock %}