{% extends "base.html" %}
{% from "helpers.html" import render_field, render_submit %}

{% block title %}Bericht bewerken - {{ diary.title }}{% endblock %}

{% block header %}Bericht bewerken{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a> <span class="divider">/</span></li>
  <li class="active">Bewerken</li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action=".">
    {{ form.csrf_token }}

    {{ render_field(form.title) }}
    {{ render_field(form.body) }}
    {{ render_field(form.date) }}

    {{ render_submit("Opslaan") }}
  </form>
{% endblock %}
