{% extends "base.html" %}

{% block title %}{{ post.title }} - {{ diary.title }}{% endblock %}

{% block header %}
  <a href="{{ url_for('post_view', diary_slug=diary.slug, post_slug=post.slug) }}">{{ post.title }}</a>
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('post_index', diary_slug=diary.slug) }}">{{ diary.title }}</a> <span class="divider">/</span></li>
  <li class="active">{{ post.title }}</li>
{% endblock %}

{% block content %}
  <ul>
    <li>
      <a href="{{ url_for('picture_upload', diary_slug=diary.slug, post_slug=post.slug) }}">Afbeelding toevoegen...</a>
    </li>
    <li>
      <a href="{{ url_for('post_edit', diary_slug=diary.slug, post_slug=post.slug) }}">Bericht bewerken...</a>
    </li>
    <li>
      <a href="{{ url_for('post_delete', diary_slug=diary.slug, post_id=post.id) }}">Bericht verwijderen...</a>
    </li>
  </ul>
  <div class="date">{{ post.date.strftime('%e %B %Y') }}</div>
  <div class="text">{{ post.body|markdown }}</div>
  <div class="pictures">
  {% for picture in post.pictures %}
    <div class="picture">
      <img src="{{ picture.file_url }}" id="pic_{{ picture.id }}" alt="{{ picture.title }}" />
    </div>
  {% endfor %}
  </div>
{% endblock %}