{% extends "base.html" %}

{% block title %}Berichten - {{ diary.title }}{% endblock %}

{% block header %}{{ diary.title }}{% endblock %}

{% block breadcrumbs %}
  <li class="active">{{ diary.title }}</li>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="span6">
      <div class="date">{{ post.date.strftime('%e %B %Y') }}</div>
      <h2>
        {{ post.title }}
      </h2>
      <ul class="edit-buttons">
        <li>
          <a href="{{ url_for('picture_upload', diary_slug=diary.slug, post_slug=post.slug) }}">Afbeelding toevoegen</a>
        </li>
        <li>
          <a href="{{ url_for('post_edit', diary_slug=diary.slug, post_slug=post.slug) }}">Bericht bewerken</a>
        </li>
        <li>
          <a href="{{ url_for('post_delete', diary_slug=diary.slug, post_id=post.id) }}">Bericht verwijderen</a>
        </li>
      </ul>
      <div class="text">{{ post.body|markdown }}</div>
    </div>
    <div class="span2">
    {% if post.pictures %}
      <ul class="polaroids">
        {% for picture in post.pictures %}
          <li class="picture">
            <span class="paperclip"></span>
            <a href="{{ picture.file_url }}" title="{{ picture.title }}">
              <img src="{{ picture.thumb_url }}" id="pic_{{ picture.id }}" alt="{{ picture.title }}" />
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>
  {% endfor %}
{% endblock %}