{% extends "base.html" %}

{% block title %}Berichten - {{ diary.title }}{% endblock %}

{% block header %}{{ diary.title }}{% endblock %}

{% block breadcrumbs %}
  <li class="active">{{ diary.title }}</li>
{% endblock %}

{% block content %}
  {% for post in posts.items %}
  <div class="post" id="post_{{ post.id }}">
    <div class="span6">
      <div class="date">{{ post.date.strftime('%e %B %Y') }}</div>
      <h2>
        {{ post.title }}
      </h2>
      <ul class="edit-buttons">
        <li class="add-picture">
        <a href="{{ url_for('picture_upload', diary_slug=diary.slug, post_slug=post.slug) }}">Afbeelding toevoegen</a>
        </li>
        <li class="edit-post">
        <a href="{{ url_for('post_edit', diary_slug=diary.slug, post_slug=post.slug) }}">Bericht bewerken</a>
        </li>
        <li class="delete-post">
        <a href="{{ url_for('post_delete', diary_slug=diary.slug, post_id=post.id) }}">Bericht verwijderen</a>
        </li>
      </ul>
      <div class="text">{{ post.body|markdown }}</div>
    </div>
    <div class="span2">
      {% if post.pictures %}
      <ul class="polaroids">
        {% for picture in post.pictures %}
        <li class="picture">
        <span class="paperclip"></span>
        <a class="image-link fancybox" href="{{ picture.file_url }}" title="{{ picture.title }}">
          <img src="{{ picture.thumb_url }}" id="pic_{{ picture.id }}" alt="{{ picture.title }}" />
        </a>
        <a class="delete-image" href="{{ url_for('picture_delete', diary_slug=diary.slug, post_slug=post.slug, picture_id=picture.id) }}">Verwijder deze afbeelding</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="span8">
    <p>Het dagboek is aangemaakt, je kunt nu je <a href="{{ url_for('post_create', diary_slug=diary.slug) }}">berichten gaan toevoegen</a>.<p>
  </div>
  {% endfor %}

  <div class="span8 pager">
  {% if posts.has_prev %}
    <a class="new" href="{{ url_for('post_index', diary_slug=diary.slug, page=posts.prev_num) }}">&laquo; Nieuwere berichten</a>
  {% else %}
    &laquo; Nieuwere berichten{% endif %} | {% if posts.has_next %}
    <a class="old" href="{{ url_for('post_index', diary_slug=diary.slug, page=posts.next_num) }}">Oudere berichten &raquo;</a>
  {% else %}
    Oudere berichten &raquo;
  {% endif %}
  </div>
{% endblock %}
